<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>FreshCart - eCommerce HTML Template</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="FreshCart is a beautiful eCommerce HTML template specially designed for multipurpose shops & online stores selling products. Most Loved by Developers to build a store website easily.">
    <meta content="Codescandy" name="author"/>


    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="/public/user/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/public/user/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet"/>
    <link href="/public/user/libs/slick-carousel/slick/slick.css" rel="stylesheet"/>
    <link href="/public/user/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet"/>
    <link href="/public/user/libs/simplebar/dist/simplebar.min.css" rel="stylesheet"/>
    <link href="/public/user/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
    <link href="/public/user/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="/public/user/libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet"/>
    <link href="/public/user/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/public/user/css/theme.min.css">
</head>

<body>

<!-- navigation -->
<header th:replace="~{/user/fragments/header :: large-header}"></header>
<nav th:replace="~{/user/fragments/navbar :: navbar}"></nav>


<!-- Shop Cart -->

<main>
    <!-- section -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center d-md-none py-4">
                        <!-- heading -->
                        <h3 class="fs-5 mb-0">Account Setting</h3>
                        <!-- button -->
                        <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 "
                                type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount"
                                aria-controls="offcanvasAccount">
                            <i class="bi bi-text-indent-left fs-3"></i>
                        </button>
                    </div>
                </div>
                <div th:replace="~{/user/fragments/profile-sidebar :: sidebar}"></div>
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="py-6 p-md-6 p-lg-10">
                        <!-- heading -->
                        <h2 class="mb-6 d-inline-block">Your Orders</h2>
<!--                        Select-->
                        <div class="d-inline-block float-end">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Order Status</span>
                                <select id="order-status" class="form-control">
                                    <option value="">All</option>
                                    <option
                                            th:each="item : ${statusList}"
                                            th:selected="${item.name() == status}"
                                            th:value="${item.name()}"
                                            th:text="${item.getName()}"
                                    ></option>
                                </select>
                            </div>
                        </div>

                        <div th:with="isShow=${pageContent.totalElements == 0}">
                            <th:block th:replace="~{/user/fragments/empty-box :: condition-empty-box}"></th:block>
                        </div>

                        <div class="table-responsive border-0">
                            <div
                                    th:each="order,iter : ${pageContent}"
                                    class="card mb-4 shadow ">
                                <div class="card-header d-flex">
                                    <h6 class="mb-0">
                                        <span
                                                class="badge bg-primary me-2"
                                                th:text="${iter.index + 1}"></span>
                                        Order
                                        <span th:text="${'#' + order.id}"></span>
                                    </h6>
                                    <div class="ms-auto">
                                        <span th:replace="~{/user/fragments/order-status-badge :: order-badge}"></span>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr th:each="detail: ${order.orderDetails}">
                                            <td class="px-3">
                                                <img
                                                        width="40"
                                                        height="40"
                                                        th:src="@{${detail.product.poster}}"
                                                        alt="">
                                            </td>
                                            <td th:text="${detail.product.name}">
                                            </td>
                                            <td th:text="${'x' + detail.quantity}">x10</td>
                                            <td class="text-end" th:attr="data-money=${detail.getAmount()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="fw-medium">
                                                Payment: <span class="fw-bold"
                                                               th:text="${order.getPaymentMethod().getSortName()}"></span>
                                            </h6>
                                            <a
                                                    th:if="${!order.paid && order.getStatusString() != 'Canceled'}"
                                                    th:href="@{|/order/pay/${order.id}|}"
                                                    class="btn btn-outline-primary btn-sm me-3">
                                                Pay now
                                            </a>
                                        </div>
                                        <div>
                                            <div class="fs-5 mb-3">Total: <span
                                                    th:attr="data-money=${order.getFinalTotal()}"></span></div>
                                            <div class="d-flex justify-content-end">
                                                <a th:href="@{|/order/${order.id}|}" class="btn btn-outline-primary btn-sm me-3">Detail</a>
                                                <button class="btn btn-outline-danger btn-sm">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <div class="text-center">
                           <div th:replace="~{/user/fragments/dashboard/footer-table :: pagination}"></div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- modal -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
    <!-- offcanvas header -->
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- offcanvas body -->
    <div class="offcanvas-body">
        <ul class="nav flex-column nav-pills nav-pills-dark">
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="account-orders.html"><i
                        class="feather-icon icon-shopping-bag me-2"></i>Your Orders</a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link " href="account-settings.html"><i class="feather-icon icon-settings me-2"></i>Settings</a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link" href="account-address.html"><i
                        class="feather-icon icon-map-pin me-2"></i>Address</a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link" href="account-payment-method.html"><i
                        class="feather-icon icon-credit-card me-2"></i>Payment Method</a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link" href="account-notification.html"><i
                        class="feather-icon icon-bell me-2"></i>Notification</a>
            </li>

        </ul>
        <hr class="my-6">
        <div>
            <!-- nav  -->
            <ul class="nav flex-column nav-pills nav-pills-dark">
                <!-- nav item -->
                <li class="nav-item">
                    <a class="nav-link " href="/logout"><i class="feather-icon icon-log-out me-2"></i>Log
                        out</a>
                </li>

            </ul>
        </div>
    </div>
</div>


<!-- Footer -->
<footer th:replace="~{/user/fragments/footer :: footer}"></footer>
<!-- Javascript-->
<!-- Libs JS -->
<script src="/public/user/libs/jquery/dist/jquery.min.js"></script>
<script src="/public/user/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/public/user/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/public/user/libs/slick-carousel/slick/slick.min.js"></script>
<script src="/public/user/libs/simplebar/dist/simplebar.min.js"></script>
<script src="/public/user/libs/nouislider/dist/nouislider.min.js"></script>
<script src="/public/user/libs/wnumb/wNumb.min.js"></script>
<script src="/public/user/libs/rater-js/index.js"></script>
<script src="/public/user/libs/prismjs/prism.js"></script>
<script src="/public/user/libs/prismjs/components/prism-scss.min.js"></script>
<script src="/public/user/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/public/user/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/public/user/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/public/user/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="/public/user/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="/public/user/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<!-- Theme JS -->
<script src="/public/user/js/theme.min.js"></script>
<script src="/public/user/js/custom/required.js"></script>
<script src="/public/user/js/custom/money-formatter.js"></script>
<!-- choose one -->

<script src="/public/user/js/custom/pagination.js"></script>
<script>
    $(document).ready(function () {
        $.updateUrl({
            eventName: 'change',
            elementSelector: '#order-status',
            getParams: function (element) {
                return [
                    {
                        name: 'status',
                        value: element.val()
                    },
                    {
                        name: 'page',
                        value: 0
                    }
                ]
            }
        });
    })


</script>
</body>

</html>