<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>FreshCart - eCommerce HTML Template</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="FreshCart is a beautiful eCommerce HTML template specially designed for multipurpose shops & online stores selling products. Most Loved by Developers to build a store website easily.">
    <meta content="Codescandy" name="author"/>


    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="/public/user/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/public/user/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet"/>
    <link href="/public/user/libs/slick-carousel/slick/slick.css" rel="stylesheet"/>
    <link href="/public/user/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet"/>
    <link href="/public/user/libs/simplebar/dist/simplebar.min.css" rel="stylesheet"/>
    <link href="/public/user/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
    <link href="/public/user/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="/public/user/libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet"/>
    <link href="/public/user/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/public/user/css/theme.min.css">
    <link rel="stylesheet" href="/public/user/css/my-css.css">
</head>

<body>

<!-- navigation -->
<div class="border-bottom shadow-sm">
    <nav class="navbar navbar-light py-2">
        <div class="container justify-content-center justify-content-lg-between">
            <a class="navbar-brand" href="/public/user/index.html">
                <img src="/public/user/images/logo/freshcart-logo.svg" alt="" class="d-inline-block align-text-top">
            </a>
            <span class="navbar-text">
        Already have an account? <a href="tml">Sign in</a>
      </span>
        </div>
    </nav>
</div>


<main>
    <!-- section -->
    <section class="my-lg-14 my-8">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <!-- img -->
                    <img src="/public/user/images/svg-graphics/fp-g.svg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
                    <div>
                        <div class="mb-lg-9 mb-5">
                            <!-- heading -->
                            <h1 class="mb-2 h2 fw-bold">New password</h1>
                            <!-- text -->
                            <p class="mb-5">Enter your new password below.</p>

                        </div>
                        <!-- form -->
                        <form id="form" method="post">
<!--                            <input type="hidden" name="token" th:value="${token}">-->
                            <!-- row -->
                            <div class="row g-3">
                                <!-- col -->
                                <div class="col-12">
                                    <!-- input -->
                                    <div class="form-floating mb-3">
                                        <input id="password" type="text" name="password"
                                               class="form-control input-loading"
                                               placeholder="Email" required>
                                        <label for="password">Enter new password</label>
                                        <small></small>
                                    </div>
                                    <div class="form-floating">
                                        <input id="confirm" name="confirm" type="text" class="form-control input-loading"
                                               placeholder="Email" required>
                                        <label for="confirm">Confirm new password</label>
                                        <small></small>
                                    </div>
                                </div>

                                <!-- btn -->
                                <div class="col-12 d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Change password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>


<footer th:replace="~{/user/fragments/footer :: footer}"></footer>
<!-- Javascript-->
<!-- Libs JS -->
<script src="/public/user/libs/jquery/dist/jquery.min.js"></script>
<script src="/public/user/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/public/user/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/public/user/libs/slick-carousel/slick/slick.min.js"></script>
<script src="/public/user/libs/simplebar/dist/simplebar.min.js"></script>
<script src="/public/user/libs/nouislider/dist/nouislider.min.js"></script>
<script src="/public/user/libs/wnumb/wNumb.min.js"></script>
<script src="/public/user/libs/rater-js/index.js"></script>
<script src="/public/user/libs/prismjs/prism.js"></script>
<script src="/public/user/libs/prismjs/components/prism-scss.min.js"></script>
<script src="/public/user/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/public/user/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/public/user/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/public/user/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="/public/user/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="/public/user/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="/public/user/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<!-- Theme JS -->
<div th:replace="~{/user/fragments/notification :: full-container}"></div>
<script src="/public/user/js/theme.min.js"></script>
<!-- choose one -->
<script>
    $(document).ready(function () {
        $('#form').validate({
            // Thiết lập các quy tắc validation
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 24,
                },
                confirm: {
                    equalTo: "#password"
                }
            },
            // Thiết lập thông báo lỗi
            messages: {
                password: {
                    required: "Vui lòng nhập mật khẩu",
                    minlength: "Mật khẩu phải có ít nhất 6 ký tự",
                    maxlength: "Mật khẩu không được vượt quá 24 ký tự",
                },
                confirm: {
                    equalTo: "Mật khẩu không khớp"
                }
            },
            // Xử lý hiển thị thông báo lỗi
            errorPlacement: function (error, element) {
                $(element)
                    .parent()
                    .addClass('is-invalid')
                    .find('small')
                    .addClass('text-danger')
                    .text(error.text());
            },

            success: function (label, element) {
                $(element)
                    .parent()
                    .removeClass('is-invalid')
                    .find('small')
                    .removeClass('text-danger')
                    .text('');
            }


        });

        // Gắn sự kiện blur cho tất cả các input
        $('input').blur(function () {
            $(this).valid();
        });
    });
</script>


</body>

</html>