<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>FreshCart - eCommerce HTML Template</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="FreshCart is a beautiful eCommerce HTML template specially designed for multipurpose shops & online stores selling products. Most Loved by Developers to build a store website easily.">
    <meta content="Codescandy" name="author"/>


    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="/public/user/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/public/user/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet"/>
    <link href="/public/user/libs/slick-carousel/slick/slick.css" rel="stylesheet"/>
    <link href="/public/user/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet"/>
    <link href="/public/user/libs/simplebar/dist/simplebar.min.css" rel="stylesheet"/>
    <link href="/public/user/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
    <link href="/public/user/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="/public/user/libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet"/>
    <link href="/public/user/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/public/user/css/theme.min.css">
</head>

<body>


<!-- navigation -->
<header th:replace="~{/user/fragments/header :: large-header}"></header>
<!-- End Header -->
<nav th:replace="~{/user/fragments/navbar :: navbar}"></nav>
<!-- End Navigation -->


<main>
    <!-- section-->
    <div class="mt-4">
        <div class="container">
            <!-- row -->
            <div class="row ">
                <!-- col -->
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#!">Home</a></li>
                            <li class="breadcrumb-item"><a href="#!">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="mb-lg-14 mb-8 mt-8">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-12">
                    <!-- card -->
                    <div class="card py-1 border-0 mb-8">
                        <div>
                            <h1 class="fw-bold">Your Cart</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row overflow-hidden">
                <div class="col-12">

                    <div class="py-3">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0">
                                <div class="row align-items-center ">
                                    <div class="col-3 col-md-2 d-flex justify-content-between align-items-center">
                                        <input type="checkbox" class="form-check-input" id="select-all">
                                        <h6 class="mb-0">Products</h6>
                                    </div>
                                    <div class="col-4 col-md-5">

                                    </div>
                                    <div class="col-3 col-md-3">

                                    </div>
                                    <div class="col-2 col-md-2">

                                    </div>
                                </div>
                            </li>
                            <!-- list group -->
                            <li th:each="item : ${cartItems}" class="list-group-item cart-item py-3 px-0">

                                <!-- row -->
                                <div class="d-flex align-items-center">
                                    <!-- checkbox-image -->
                                    <div class="d-flex justify-content-between align-items-center px-3">
                                        <input type="checkbox" class=" form-check-input me-4"
                                               th:id="'cart-' + ${item.id}">

                                        <!-- img -->
                                        <img th:src="${item.product.poster}"
                                             width="90"
                                             alt="Ecommerce"
                                             class="img-fluid"></div>
                                    <!-- title -->
                                    <div class="col-5 flex-grow-1">
                                        <!-- title -->
                                        <a href="shop-single.html" class="text-inherit">
                                            <h6 th:text="${item.product.name}" class="mb-0"></h6>
                                        </a>
                                        <!-- text -->
                                    </div>
                                    <div class="col-1 text-lg-end text-start text-md-end">
                                        <span class="fw-bold"
                                              th:attr="data-price=${item.product.salePrice}"
                                              th:text="${#numbers.formatDecimal(item.product.salePrice, 3, 'POINT', 0, 'COMMA') + ' đ'}"></span>
                                    </div>
                                    <!-- input group -->
                                    <div class="col-2 justify-content-center">
                                        <!-- input -->
                                        <div class="input-group input-spinner justify-content-center ">
                                            <input type="button" value="-" class="button-minus  btn  btn-sm "
                                                   data-field="quantity">
                                            <input
                                                    th:attr="data-cart-id=${item.id}"
                                                    type="number"
                                                    step="1"
                                                    th:max="${item.product.inventory}"
                                                    min="0" th:value="${item.quantity}"
                                                    name="quantity"
                                                    class="quantity-field form-control-sm form-input">
                                            <input type="button" value="+" class="button-plus btn btn-sm plus"
                                                   data-field="quantity">
                                        </div>
                                    </div>
                                    <!-- price -->
                                    <div class="col-2 col-md-1 text-lg-end text-start text-md-end">
                                        <span class="fw-bold cart-total-price"
                                              th:text="${#numbers.formatDecimal(item.product.salePrice * item.quantity, 3, 'POINT', 0, 'COMMA') + ' đ'}"></span>
                                    </div>
                                    <span
                                            class="me-1 align-text-bottom p-3 btn mx-3 rounded-5">
                                                <i class="bi bi-trash3 text-success"></i>
                                            </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div class="container position-sticky bottom-0 z-5">
    <div class="row">
        <!-- sidebar -->
        <div class="col-12 position-static bottom-0">
            <!-- card -->
            <div class="card">
                <div class="card-body px-6">
                    <!-- heading -->
                    <div class="row">
                        <!-- heading -->
                        <div class="col-7 mt-5">
                            <h2 class="h5 mb-3">Add your voucher</h2>
                            <div class="mb-2">
                                <input type="text" class="form-control" id="discount-code"
                                       placeholder="Promo or Gift Card">
                            </div>
                            <!-- btn -->
                            <p class="text-muted mb-0 visibility-invisible">
                                <small>Terms & Conditions apply</small>
                            </p>
                        </div>
                        <div class=" col-5 card mb-2">
                            <!-- list group -->
                            <ul class="list-group list-group-flush">
                                <!-- list group item -->
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <div>Item Subtotal</div>

                                    </div>
                                    <span id="total">0đ</span>
                                </li>

                                <!-- list group item -->
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <div>Discount</div>
                                    </div>
                                    <span id="discount-value"> 0đ</span>
                                </li>
                                <!-- list group item -->
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <div class="fw-bold">Subtotal</div>
                                    </div>
                                    <span class="fw-bold" id="total-bill">0đ</span>
                                </li>
                            </ul>
                        </div>

                        <!-- text -->

                        <form id="check-out-form" method="post" th:action="@{/checkout}">
                            <div class="d-grid mb-1 mt-4">
                                <!-- btn -->
                                <button
                                        id="check-out"
                                        class="btn btn-primary btn-lg d-flex justify-content-end align-items-center"
                                        type="submit">
                                    Go to Checkout
                                    <span class="spinner-border text-light ms-5 d-none  " role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </span>
                                    <i class="bi bi-arrow-right fw-bold ms-5"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<!-- footer -->
<footer th:replace="~{/user/fragments/footer :: footer}"></footer>
<!-- Javascript-->
<!-- Libs JS -->
<script src="/public/user/libs/jquery/dist/jquery.min.js"></script>
<script src="/public/user/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/public/user/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/public/user/libs/slick-carousel/slick/slick.min.js"></script>
<script src="/public/user/libs/simplebar/dist/simplebar.min.js"></script>
<script src="/public/user/libs/nouislider/dist/nouislider.min.js"></script>
<script src="/public/user/libs/wnumb/wNumb.min.js"></script>
<script src="/public/user/libs/rater-js/index.js"></script>
<script src="/public/user/libs/prismjs/prism.js"></script>
<script src="/public/user/libs/prismjs/components/prism-scss.min.js"></script>
<script src="/public/user/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/public/user/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/public/user/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/public/user/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="/public/user/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="/public/user/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script src="/public/user/js/custom/required.js"></script>
<script th:replace="~{/user/fragments/notification :: full-container}"></script>
<!-- Theme JS -->
<script src="/public/user/js/theme.min.js"></script>
<script src="/public/user/js/custom/money-formatter.js"></script>
<script src="/public/user/js/custom/CartHandler.js"></script>
<!-- choose one -->


</body>

</html>