<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FreshCart - eCommerce HTML Template</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="FreshCart is a beautiful eCommerce HTML template specially designed for multipurpose shops & online stores selling products. Most Loved by Developers to build a store website easily.">
    <meta content="Codescandy" name="author"/>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user/images/favicon/favicon.ico">
    <!-- Libs CSS -->
    <link href="/public/user/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/public/user/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet"/>
    <link href="/public/user/libs/slick-carousel/slick/slick.css" rel="stylesheet"/>
    <link href="/public/user/libs/slick-carousel/slick/slick-theme.css" rel="stylesheet"/>
    <link href="/public/user/libs/simplebar/dist/simplebar.min.css" rel="stylesheet"/>
    <link href="/public/user/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
    <link href="/public/user/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
    <link href="/public/user/libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet"/>
    <link href="/public/user/libs/prismjs/themes/prism-okaidia.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/public/user/css/theme.min.css">
    <link rel="stylesheet" href="/public/admin/css/notification.css">
</head>
<body>
<!-- navigation -->
<div class="border-bottom shadow-sm">
    <nav class="navbar navbar-light py-2">
        <div class="container justify-content-center justify-content-lg-between">
            <a class="navbar-brand" href="../index.html">
                <img src="/public/user/images/logo/freshcart-logo.svg" alt="" class="d-inline-block align-text-top">
            </a>
            <span class="navbar-text">
        Already have an account? <a href="tml">Sign in</a>
      </span>
        </div>
    </nav>
</div>
<main>
    <!-- section -->
    <section class="my-lg-14 my-8">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-5 col-lg-4 order-lg-1 order-2">
                    <!-- img -->
                    <img src="/public/user/images/svg-graphics/signup-g.svg" alt="" class="img-fluid">
                </div>
                <!-- col -->
                <div class="col-12 col-md-7 offset-lg-1 col-lg-4 order-lg-2 order-1">
                    <div class="mb-lg-9 mb-5">
                        <h1 class="mb-1 h2 fw-bold">Get Start Shopping</h1>
                        <p>Welcome to FreshCart! Enter your email to get started.</p>
                    </div>
                    <!-- form -->
                    <form th:object="${user}" method="post">
                        <!-- col -->
                        <div class="form-floating mb-3">
                            <!-- input -->
                            <input th:field="*{fullname}" id="fullname" name="fullname" type="text" class="form-control"
                                   placeholder="Fullname" aria-label="Fullname"
                                   required>
                            <label for="fullname">Fullname</label>
                        </div>
                        <div class="form-floating mb-3">
                            <!-- input -->
                            <input th:field="*{username}" id="username" name="username" type="text" class="form-control"
                                   placeholder="Username" aria-label="Username"
                                   required>
                            <label for="fullname">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <!-- input -->
                            <input th:field="*{email}" id="email" name="email" type="text" class="form-control"
                                   placeholder="Email" aria-label="Email"
                                   required>
                            <label for="fullname">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <!-- input -->
                            <input th:field="*{password}" id="password" name="password" type="text" class="form-control"
                                   placeholder="Password" aria-label="Password"
                                   required>
                            <label for="password">Password</label>
                        </div>
<!--                        <div class="form-floating mb-3">-->
<!--                            &lt;!&ndash; input &ndash;&gt;-->
<!--                            <input id="confirmPassword" name="password" type="text" class="form-control"-->
<!--                                   placeholder="Confirm Password" aria-label="Confirm Password"-->
<!--                                   required>-->
<!--                            <label for="confirmPassword">Confirm Password</label>-->
<!--                        </div>-->
                        <!-- btn -->
                        <div class="col-12 d-grid mb-3">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="text-center mb-3">
                                <span class="fw-normal">or sign up with</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <a href="">
                                    <img alt="Google" class="rounded-pill mx-2" height="30px"
                                         src="/public/user/images/icons/google.png" width="30px">
                                </a>
                                <a href="">
                                    <img alt="Google" class="rounded-pill mx-2" height="30px"
                                         src="/public/user/images/icons/facebook.webp" width="30px">
                                </a>
                                <a href="">
                                    <img alt="Google" class="rounded-pill mx-2" height="30px"
                                         src="/public/user/images/icons/Icon_of_Zalo.svg.webp" width="30px">
                                </a>


                            </div>
                        </div>


                        <!-- text -->
                        <p class="text-center"><small>By continuing, you agree to our
                            <a href="#!"> Terms of Service</a>
                            &
                            <a href="#!">Privacy
                                Policy
                            </a>
                        </small></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer -->
<!-- footer -->
<div th:replace="~{/user/fragments/footer :: footer}"></div>
<!-- Javascript-->
<div th:replace="~{/user/fragments/notification :: container}"></div>

<!-- Libs JS -->
<script src="/public/user/libs/jquery/dist/jquery.min.js"></script>
<script src="/public/user/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/public/user/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/public/user/libs/slick-carousel/slick/slick.min.js"></script>
<script src="/public/user/libs/simplebar/dist/simplebar.min.js"></script>
<script src="/public/user/libs/nouislider/dist/nouislider.min.js"></script>
<script src="/public/user/libs/wnumb/wNumb.min.js"></script>
<script src="/public/user/libs/rater-js/index.js"></script>
<script src="/public/user/libs/prismjs/prism.js"></script>
<script src="/public/user/libs/prismjs/components/prism-scss.min.js"></script>
<script src="/public/user/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/public/user/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/public/user/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/public/user/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="/public/user/libs/flatpickr/dist/flatpickr.min.js"></script>
<script src="/public/user/libs/inputmask/dist/jquery.inputmask.min.js"></script>
<script th:replace="~{/user/fragments/notification :: js}"></script>
<!-- Theme JS -->
<script src="/public/user/js/theme.min.js"></script>
<!-- choose one -->
</body>
</html>